@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  width: 100vw;
  height: 50px;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  background-color: #282c34;
}

.link{
  color: coral;
  margin-right: 15px;

  text-decoration: none;
}

.app-container{
  padding: 15px 20px ;
}